<mat-card-header>
    <mat-card-title>
        <div class="mat-display-1">Listado de productos</div>
    </mat-card-title>
</mat-card-header>

<mat-card-content class="dashboard-card-content">

    <form class="find-form" (submit)="onSubmitFindForm()">
        <mat-form-field class="full-width">
            <mat-label>Buscar un producto</mat-label>
            <input matInput placeholder="Introduce parte del nombre, del id o del código y pulsa enter" name="strFind"
                [(ngModel)]="strToFind">
        </mat-form-field>
    </form>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="pageSize" [length]="totalElements"
        (page)="nextPage($event)">
    </mat-paginator>

    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let products"> {{products.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let products"> {{products.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let products"> {{products.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="existencias">
            <th mat-header-cell *matHeaderCellDef> Existencias </th>
            <td mat-cell *matCellDef="let products"> {{products.existencias}} </td>
        </ng-container>

        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let products"> {{products.precio}} </td>
        </ng-container>

        <ng-container matColumnDef="herramientas">
            <th mat-header-cell *matHeaderCellDef> Herramientas </th>
            <td mat-cell *matCellDef="let products">

                <button mat-icon-button color="primary" aria-label="Detalles"
                    [routerLink]="['/producto-detail/', products.id]">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

    </table>



</mat-card-content>

<mat-card-actions fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
    <button mat-flat-button color="primary" [routerLink]="['/home']">
        <mat-icon>disabled_by_default</mat-icon> Cerrar
    </button>
    <button mat-flat-button color="primary" (click)="goBack()">
        <mat-icon>reply</mat-icon> Volver
    </button>
</mat-card-actions>