<div style="height: 80vh;">
  <mat-toolbar color="primary">

    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>WildCart</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- hidden on SM and XS -->
        <a routerLinkActive="active" routerLink="/home" mat-button>
          <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
          Home
        </a>
        <a routerLinkActive="active" routerLink="/producto-plist" mat-button>
          <mat-icon>card_giftcard</mat-icon> Productos
        </a>
        <a routerLinkActive="active" routerLink="/about" mat-button>
          <mat-icon>camera_front</mat-icon> Acerca de
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <!-- <mat-sidenav #sidenav mode="side" opened> -->
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a routerLinkActive="active" routerLink="/home" mat-list-item>
          <mat-icon>home</mat-icon> Home
        </a>
        <a routerLinkActive="active" routerLink="/producto-plist" mat-list-item>
          <mat-icon>card_giftcard</mat-icon> Products
        </a>
        <a routerLinkActive="active" routerLink="/about" mat-list-item>
          <mat-icon>camera_front</mat-icon> About
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <div style="padding: 20px;">
        <mat-card class="dashboard-card" class="mat-elevation-z9">
          <router-outlet></router-outlet>
        </mat-card>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>