<app-menu></app-menu>

<div class="loader" [hidden]="!loading">
</div>

<div class="container-fluid px-5" style="margin-top: 90px;" [hidden]="loading">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">
                <h2><i class="fas fa-gift"></i> Listado de {{entitiesName}}</h2>

                <form (submit)="onSubmitFindForm()">
                    <mat-form-field class="full-width">
                        <mat-label>Filtrar {{entitiesName}}</mat-label>
                        <input matInput placeholder="Introduce parte del nombre, del id o del código y pulsa enter"
                            name="currentFilter" [(ngModel)]="currentFilter">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">

                <nav aria-label="rpp">
                    <ul class="pagination">
                        <li class="page-item" [ngClass]="{'active':(currentPageSize==10)}">
                            <a class="page-link"
                                href="{{entityName}}/plist/{{currentPageIndex}}/10/{{currentSortField}}/{{currentSortDirection}}/{{currentFilter}}/"
                                tabindex="-1" aria-disabled="true">10</a>
                        </li>
                        <li class="page-item" [ngClass]="{'active':(currentPageSize==50)}">
                            <a class="page-link"
                                href="{{entityName}}/plist/{{currentPageIndex}}/50/{{currentSortField}}/{{currentSortDirection}}/{{currentFilter}}/"
                                tabindex="-1" aria-disabled="true">50</a>
                        </li>
                        <li class="page-item" [ngClass]="{'active':(currentPageSize==100)}">
                            <a class="page-link"
                                href="{{entityName}}/plist/{{currentPageIndex}}/100/{{currentSortField}}/{{currentSortDirection}}/{{currentFilter}}/"
                                tabindex="-1" aria-disabled="true">100</a>
                        </li>
                    </ul>
                </nav>

                <h5>
                    <span class="badge badge-pill badge-primary">{{totalElements}} registros</span>
                    <span class="badge badge-pill badge-warning" *ngIf="initialFilter">Filtro:
                        "{{initialFilter}}"
                        <a
                            href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/{{currentSortField}}/{{currentSortDirection}}/"><i
                                class="fas fa-times"></i></a>
                    </span>
                </h5>

                <nav aria-label="pagination">
                    <ul class="pagination">
                        <li class="page-item" *ngFor="let p of paginationPad track by $index"
                            [ngClass]="{'active':((currentPageIndex+'')==p)}">
                            <a class="page-link" *ngIf="p != '...'"
                                href="{{entityName}}/plist/{{p}}/{{currentPageSize}}/{{currentSortField}}/{{currentSortDirection}}/{{currentFilter}}">{{p}}</a>
                            <span class="page-link" *ngIf="p == '...'" disabled="true">{{p}}</span>
                        </li>
                    </ul>
                </nav>

            </div>

            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th class="text-center" [ngClass]="{'bg-primary':currentSortField=='id','text-white':currentSortField=='id'}">
                            <a *ngIf="(currentSortField=='id'&&currentSortDirection=='asc')||currentSortField!='id'" [ngClass]="{'text-white':currentSortField=='id'}"                           
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/id/desc/{{currentFilter}}">id
                            </a>
                            <a *ngIf="currentSortField=='id'&&currentSortDirection=='desc'" [ngClass]="{'text-white':currentSortField=='id'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/id/asc/{{currentFilter}}">id
                            </a>
                            <i class="fas fa-arrow-up" *ngIf="currentSortField=='id'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='id'&&currentSortDirection=='desc'"></i>
                        </th>
                        <th class="text-center" [ngClass]="{'bg-primary':currentSortField=='codigo','text-white':currentSortField=='codigo'}">
                            <a *ngIf="(currentSortField=='codigo'&&currentSortDirection=='asc')||currentSortField!='codigo'" [ngClass]="{'text-white':currentSortField=='codigo'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/codigo/desc/{{currentFilter}}">código
                            </a>
                            <a *ngIf="currentSortField=='codigo'&&currentSortDirection=='desc'" [ngClass]="{'text-white':currentSortField=='codigo'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/codigo/asc/{{currentFilter}}">código
                            </a>
                            <i class="fas fa-arrow-up"
                                *ngIf="currentSortField=='codigo'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='codigo'&&currentSortDirection=='desc'"></i>
                        </th>
                        <th class="text-center" [ngClass]="{'bg-primary':currentSortField=='nombre','text-white':currentSortField=='nombre'}">
                            <a *ngIf="(currentSortField=='nombre'&&currentSortDirection=='asc')||currentSortField!='nombre'" [ngClass]="{'text-white':currentSortField=='nombre'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/nombre/desc/{{currentFilter}}">nombre
                            </a>
                            <a *ngIf="currentSortField=='nombre'&&currentSortDirection=='desc'" [ngClass]="{'text-white':currentSortField=='nombre'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/nombre/asc/{{currentFilter}}">nombre
                            </a>
                            <i class="fas fa-arrow-up"
                                *ngIf="currentSortField=='nombre'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='nombre'&&currentSortDirection=='desc'"></i>
                        </th>
                        <th class="text-center" [ngClass]="{'bg-primary':currentSortField=='tipoproducto','text-white':currentSortField=='tipoproducto'}">
                            <a *ngIf="(currentSortField=='tipoproducto'&&currentSortDirection=='asc')||currentSortField!='tipoproducto'" [ngClass]="{'text-white':currentSortField=='tipoproducto'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/tipoproducto/desc/{{currentFilter}}">tipo
                            </a>
                            <a *ngIf="currentSortField=='tipoproducto'&&currentSortDirection=='desc'" [ngClass]="{'text-white':currentSortField=='tipoproducto'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/tipoproducto/asc/{{currentFilter}}">tipo
                            </a>
                            <i class="fas fa-arrow-up"
                                *ngIf="currentSortField=='tipoproducto'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='tipoproducto'&&currentSortDirection=='desc'"></i>
                        </th>
                        <th class="text-center" [ngClass]="{'bg-primary':currentSortField=='existencias','text-white':currentSortField=='existencias'}">
                            <a *ngIf="(currentSortField=='existencias'&&currentSortDirection=='asc')||currentSortField!='existencias'" [ngClass]="{'text-white':currentSortField=='existencias'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/existencias/desc/{{currentFilter}}">existencias
                            </a>
                            <a *ngIf="currentSortField=='existencias'&&currentSortDirection=='desc'" [ngClass]="{'text-white':currentSortField=='existencias'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/existencias/asc/{{currentFilter}}">existencias
                            </a>
                            <i class="fas fa-arrow-up"
                                *ngIf="currentSortField=='existencias'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='existencias'&&currentSortDirection=='desc'"></i>
                        </th>
                        <th class="text-center" [ngClass]="{'bg-primary':currentSortField=='precio','text-white':currentSortField=='precio'}">
                            <a *ngIf="(currentSortField=='precio'&&currentSortDirection=='asc')||currentSortField!='precio'" [ngClass]="{'text-white':currentSortField=='precio'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/precio/desc/{{currentFilter}}">precio
                            </a>
                            <a *ngIf="currentSortField=='precio'&&currentSortDirection=='desc'" [ngClass]="{'text-white':currentSortField=='precio'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/precio/asc/{{currentFilter}}">precio
                            </a>
                            <i class="fas fa-arrow-up"
                                *ngIf="currentSortField=='precio'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='precio'&&currentSortDirection=='desc'"></i>
                        </th>
                        <th class="text-center" [ngClass]="{'bg-primary':currentSortField=='descuento','text-white':currentSortField=='descuento'}">
                            <a *ngIf="(currentSortField=='descuento'&&currentSortDirection=='asc')||currentSortField!='descuento'" [ngClass]="{'text-white':currentSortField=='descuento'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/descuento/desc/{{currentFilter}}">descuento
                            </a>
                            <a *ngIf="currentSortField=='descuento'&&currentSortDirection=='desc'" [ngClass]="{'text-white':currentSortField=='descuento'}"
                                href="{{entityName}}/plist/{{currentPageIndex}}/{{currentPageSize}}/descuento/asc/{{currentFilter}}">descuento
                            </a>
                            <i class="fas fa-arrow-up"
                                *ngIf="currentSortField=='descuento'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='descuento'&&currentSortDirection=='desc'"></i>
                        </th>
                        <th class="text-center">
                            imagen<br>
                        </th>
                        <th class="text-center">
                            compras<br>
                        </th>
                        <th class="text-center">
                            carritos<br>
                        </th>
                        <th style="width: 5%" class="text-center">
                            herramientas
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fila of entities">
                        <td class="text-center bg-primary text-white font-weight-bold">{{fila.id}}</td>
                        <td class="text-left font-weight-bold">{{fila.codigo}} </td>
                        <td>{{fila.nombre}}</td>
                        <td><a href="tipoproducto/view/{{fila.tipoproducto.id}}">{{fila.tipoproducto.nombre}}</a>&nbsp;
                            <a href="producto/tipoproducto////{{fila.id}}">({{fila.tipoproducto.productos}}
                                productos)</a>

                        </td>
                        <td class="text-center">{{fila.existencias|number}}</td>
                        <td class="text-right">{{fila.precio}} €</td>
                        <td class="text-center">{{fila.descuento}} %</td>
                        <td class="text-center"><img src="http://localhost:8082/file/{{fila.imagen}}" height="30" />
                        </td>
                        <td class="text-center"><a href="compra/{{entityName}}////{{fila.id}}"
                                *ngIf="fila.compras>0">{{fila.compras}}</a></td>
                        <td class="text-center"><a href="carrito/{{entityName}}////{{fila.id}}"
                                *ngIf="fila.carritos>0">{{fila.carritos}}</a>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <div class="btn-group" role="group" aria-label="Herramientas">
                                        <a class="btn btn-success btn-sm" href="{{entityName}}/view/{{fila.id}}">
                                            <i class="fas fa-eye"></i></a>
                                        <a class="btn btn-primary btn-sm" href="{{entityName}}/edit/{{fila.id}}">
                                            <i class="fas fa-edit"></i></a>
                                        <a class="btn btn-danger btn-sm" href="{{entityName}}/remove/{{fila.id}}"
                                            ng-if="fila.carritos==0&&fila.facturas==0"> <i class="fas fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="control-group text-center">
                <div class="controls">
                    <a class="btn btn-primary mr-2" [routerLink]="['/home']"><i class="fas fa-home"></i> Ir a home</a>
                    <a class="btn btn-primary" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </a>
                </div>
            </div>

        </div>
    </div>
    <footer class="pt-3 border-top" style="height: 80px;">
        <div class="row">
            <div class="col-12 col-md">
                <span class="text-muted">WILDCART &copy; MIT licensed BY Rafael Aznar & DAW students, 2020 </span>
                <span class="text-muted">
                    <a href="https://github.com/rafaelaznar/WildCartAngularClient"> <i class="fab fa-github"></i>
                        CLIENT </a>
                    <a href="https://github.com/rafaelaznar/trolleyesSBserver"> <i class="fab fa-github"></i>
                        SERVER</a>
                </span>
            </div>
        </div>
    </footer>
</div>