<app-menu></app-menu>

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-4">

            <mat-card-title>Logout</mat-card-title>
            <mat-card-content class="centrar">
                <p>Actualmente estás logueado al sistema como {{oUsuarioSession!.nombre}}</p>
                <button mat-flat-button color="primary" (click)="closeSession()">Cerrar la sesión</button>
                <br />
                <button mat-flat-button color="primary" (click)="check()">Check</button>
            </mat-card-content>

        </div>
    </div>
</div>